.profile{
    padding: 50px;

    &--img{
        width: 13em;
        height: 13em;
        border: 2px solid $lighter-gray;
        border-radius: 100%;
        float: left;
        margin-right: 5rem;
        margin-top: 1.5rem;
    }

    &--bio{
        
    }
}

.project{
    padding:50px;

    &--box{
        min-height: 400px;
        background: $lighter-gray;
        border-color: rgba(0, 39, 69, 0.11);
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 4px 7px rgba(0, 33, 60, 0.04);
        overflow: hidden;
        position: relative;
        z-index: 1;
        margin-top: 30px;

         &--image{
            height: 220px;
        }

        &--title{
             height: 180px;
             border-top: 1px solid #eee; 
             background: $white;
             padding: 0 5px 10px 10px;
             overflow: hidden;

             li{
                 padding-bottom: 13px;
             }

             span{
                 background: $blue;
                 padding: 5px;
                 color: $white;
             }
        }
    }


}